{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
    <div class="col-lg-6 col-sm-12">
        <h1>Bienvenue sur yuko - datotsu, le projet open-source de partage d'evenement / club</h1>
        Bonjour bonjour
    </div>
    <div class="col-lg-6 col-sm-12">
        Other side test
    </div>
    </div>
</div>
{% endblock %}
