{% trans_default_domain 'FOSUserBundle' %}

<div class="container col-md-6 offset-md-3" style="padding-top: 5%">
    <div class="card-outline-secondary">
        <div class="card card-outline-secondary">
            <div class="card-header">
                <h3 class="mb-0">Edit an event</h3>
            </div>
            <div class="card-body">
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
    <div class="form-group">
        <button type="submit" value="{{ 'registration.submit'|trans }}" class="btn btn-success btn-lg float-right">Register</button>
    </div>
{{ form_end(form) }}
            </div>
        </div>
    </div>
</div>